---
import Layout from "../layouts/Layout.astro";
import logo from "../images/temp-logo.png";
import Navigation from "../components/Navigation.astro";
import HeroAnimated from "../components/HeroAnimated";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Welcome to Astro.">
	<div class="container mx-auto">
		<div class="fixed container bg-white shadow-sm z-10">
			<header class="flex items-center justify-between p-2">
				<a href="#"> <Image src={logo} alt="Logo" class="h-7 w-fit" /></a>
				<Navigation />
			</header>
		</div>
	</div>
	<main>
		<div
			class="h-screen relative bg-gradient-to-b from-white via-violet-50 to-white"
		>
			<div class="absolute inset-0 bg-paper bg-center mix-blend-overlay"></div>
			<div
				class="container mx-auto h-full flex items-center justify-center relative"
			>
				<HeroAnimated client:load />
			</div>
		</div>

		<div class="container px-2 mx-auto pt-20 overflow-hidden" id="projects">
			<Projects />
		</div>
		<div class="bg-stone-950">
			<div class="container px-2 mx-auto py-20 space-y-20" id="about">
				<About />
				<Contact />
			</div>
		</div>
	</main>
</Layout>
