---
import Layout from "../layouts/Layout.astro";
import logo from "../images/temp-logo.png";
import Navigation from "../components/Navigation.astro";
import HeroAnimated from "../components/HeroAnimated";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import TechStack from "../components/TechStack.astro";
import Contact from "../components/Contact.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Frontend Developer Portfolio">
	<head>
		<meta
			name="description"
			content="I'm a Frontend Developer with Digital Marketing background. I code with JavaScript, React, TypeScript, NextJS, Astro, Tailwindcss and more."
		/>
	</head>
	<div
		class="fixed w-full border-b bg-white md:bg-white/50 md:hover:bg-white md:transition-colors md:duration-500 md:backdrop-blur z-10"
	>
		<header
			class="flex container mx-auto items-center justify-between p-2 relative"
		>
			<a href="#"> <Image src={logo} alt="Logo" class="h-5 md:h-7 w-fit" /></a>
			<Navigation />
		</header>
	</div>

	<main>
		<div
			class="h-screen relative bg-gradient-to-b from-white via-violet-50 to-white"
		>
			<div class="absolute inset-0 bg-paper bg-center mix-blend-overlay"></div>
			<div
				class="container mx-auto h-full flex items-center justify-center relative"
			>
				<HeroAnimated client:load />
			</div>
		</div>

		<div class="container px-2 mx-auto pt-20 overflow-hidden" id="projects">
			<Projects />
		</div>
		<footer
			class="relative bg-gradient-to-b from-stone-950 via-stone-900 to-stone-950"
		>
			<div class="absolute inset-0 bg-paper bg-center mix-blend-overlay"></div>
			<div
				class="container px-4 mx-auto py-20 relative grid lg:grid-cols-2 gap-16"
				id="about"
			>
				<About />
				<TechStack />
				<Contact />
			</div>
		</footer>
	</main>
</Layout>
