---
import AtSymbol from "./icons/AtSymbol.astro";
import Phone from "./icons/Phone.astro";
import Button from "./reusables/Button.astro";

const contactData = {
	contact: [
		{
			text: "krzysztof.kulka@hotmail.com",
			link: "mailto:krzysztof.kulka@hotmail.com",
			icon: "AtSymbol",
		},
		{
			text: "570 042 513",
			link: "tel:570042513",
			icon: "Phone",
		},
	],
	social: [
		{
			text: "LinkedIn",
			link: "https://www.linkedin.com/in/krzysztofkulka/",
		},
		{
			text: "GitHub",
			link: "https://www.github.com/kkulek",
		},
		{
			text: "CV",
			link: "#",
		},
	],
};
---

<div
	class="-mt-8 lg:-mt-32 text-slate-50 space-y-6 relative"
	id="contact"
>
	<h2 class="text-3xl font-bold textGradientLight">Contact:</h2>
	<div class="flex flex-col md:flex-row gap-4 md:gap-12">
		{
			contactData.contact.map((item) => (
				<a href={item.link} target="_blank" rel="nofollow" class="block">
					<div class="flex gap-1 items-center">
						<div class="h-5 w-5 relative">
							{item.icon === "AtSymbol" && <AtSymbol />}
							{item.icon === "Phone" && <Phone />}
						</div>
						<p class="">{item.text}</p>
					</div>
				</a>
			))
		}
	</div>
	<div class="flex gap-4 md:gap-12">
		{
			contactData.social.map((item) => (
				<Button href={item.link} blank>{item.text}</Button>
			))
		}
	</div>
</div>
