---
import Button from "./reusables/Button.astro";
import CV from "../../public/CV-Krzysztof-Kulka.pdf"

type Navigation = {
	text: string;
	link: string;
};

const nav = [
	{
		text: "Projects",
		link: "#projects",
	},
	{
		text: "About me",
		link: "#about",
	},
	{
		text: "Contact",
		link: "#contact",
	},
	{
		text: "CV",
		link: CV,
	},
];
---

<nav>
	<ul class="flex md:gap-3 lg:gap-6 text-sm md:text-base">
		{
			nav.map((item: Navigation, index: number) => (
				<li>
					{index === nav.length - 1 ? (
						<Button href={item.link} blank>{item.text}</Button>
					) : (
						<a
							class="mx-3 md:mx-4 relative transition-all duration-600 pb-2 md:pb-3 hover:border-black hover:border-b-2"
							href={item.link}
						>
							{item.text}
						</a>
					)}
				</li>
			))
		}
	</ul>
</nav>
