---
import TableRowAnimated from "./reusables/TableRowAnimated";

type DataItem = {
	type: string;
	content: string;
};

const data: DataItem[] = [
	{
		type: "Base",
		content: "HTML, JavaScript, TypeScript",
	},
	{
		type: "Frameworks",
		content: "React, NextJS, Astro",
	},
	{
		type: "Styling",
		content: "CSS, SASS, CSS Modules, Tailwindcss",
	},
	{
		type: "Tools",
		content: "Git, VS Code, Figma, Adobe XD, Sketch, YouTrack, Trello",
	},
	{
		type: "Marketing",
		content:
			"Google Analytics, Google Tag Manager, Google Ads, Meta Ads, Zapier, A/B testing, + dozens more apps",
	},
	{
		type: "Learning priorities",
		content: "TypeScript, SEO, Web Performance, Accessibility",
	},
];
---

<div class="text-slate-50 md:col-span-2 lg:col-span-1">
	<div class="space-y-6">
		<h2 class="text-3xl font-bold textGradientLight">Skills:</h2>
		<TableRowAnimated data={data} client:visible />
	</div>
</div>
