---
import { SEO } from "astro-seo";
export interface Props {
	title: string;
}

const { title } = Astro.props;
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEO
			description="I'm a Frontend Developer with Digital Marketing background. I code with JavaScript, React, TypeScript, NextJS, Astro, Tailwindcss and more."
			canonical="https://kulka.dev"
		/>
		<meta
			name="keywords"
			content="frontend, frontend developer, frontend portfolio, krzysztof kulka, digital marketing"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script async defer type="text/partytown" src="https://analytics.umami.is/script.js" data-website-id="b2a9439f-3d90-4c5b-9f83-b83d549dc37f"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
